In [1]:
import pandas as pd
import mysql.connector
import datetime

# TEXT PART

In [2]:
# JUST TEST the database
# create the host server for 1st time in the terminal after sudo mysql
# CREATE USER 'lqd'@'localhost' IDENTIFIED BY 'Duong159753!'; 
mydb = mysql.connector.connect(
  host="localhost",
  user="lqd",
  password="Duong159753!"
   
)
print(mydb) # Show
# Obligatory cursor 
mycursor = mydb.cursor()

### Show DataBase
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f70a2809e90>

# MAIN

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="lqd",
  password="Duong159753!",
  database="RESTAURANT_SALE" # Connect to database
)
mycursor = mydb.cursor()

In [21]:
# Create Table
# Syntax for input the same as SQL syntax but put it into '''Content'''
create_table_query = '''CREATE TABLE sales(
                        date VARCHAR(50),
                        bill_number VARCHAR(50),
                        item_desc VARCHAR(50),
                        quantity INT,
                        rate DECIMAL(5,2),
                        tax DECIMAL(5,2),
                        total DECIMAL(5,2),
                        discount DECIMAL(5,2),
                        category VARCHAR(50)                      
                        );'''
mycursor.execute(create_table_query)

In [3]:
# Show table 
mycursor.execute("SHOW TABLES")
for x in mycursor:
  print(x)

('sales',)

In [4]:
# Read the CSV file into a Pandas dataframe
file = 'Cafe_Data.xlsx'
data = pd.read_excel(file)
data['date'] = pd.to_datetime(data['date'],format ='%d/%m/%y %H:%M:%S')
data['date'] = data['date'].dt.strftime('%d/%m/%y %H:%M:%S')

In [45]:
# Load data from DATAFRAME to SQL database
for i,row in data.iterrows():
    insert_query = f''' INSERT INTO sales VALUES ("{row['date']}","{row['Bill Number ']}","{row['Item Desc']}",{row['Quantity']},{row['Rate']},{row['Tax']},{row['Discount']},{row['Total']},"{row['Category']}");'''
    mycursor.execute(insert_query)
    # print(insert_query)
    # break
#Commit the changes and close the connection 
mydb.commit()

# Command in SQL

In [46]:
# CHECK ALL convert .csv file to SQL database
modify = ''' SELECT * FROM sales''';
mycursor.execute(modify)
i = 0
for x in mycursor:
    #print(x)
    i += 1
print(i)

In [44]:
# DELETE all the records
modify = ''' TRUNCATE sales''';
mycursor.execute(modify)
mydb.commit()

In [ ]:
# MODIFY FEATURES 
modify = '''ALTER TABLE sales MODIFY COLUMN discount DECIMAL(10,5)''';
drop = '''DROP TABLE sales '''
mycursor.execute(modify)